<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hacku.swearjar"
    android:versionCode="1"
    android:versionName="1.0" >

    
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />
    
    <!-- PERMISSIONS -->
    <permission android:name="SAD"></permission>
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    
    <!-- APPLICATION -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".SwearJarApplication">
        
        <activity
            android:name=".MainLayoutActivity"
            android:label="@string/title_activity_main_layout" 
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".WordsActivity" /> <!-- REMOVE?? -->
        <activity android:name=".AddWordActivity" />
        <activity android:name=".EditWordActivity" />
        
        <service android:enabled="true" android:name=".RecordingService" />
        
        
    </application>
    

</manifest>
